.site-header {
  padding: 70px 0 100px;

  @include media('mobile-down') {
    padding: 40px 0 70px;
  }

  #toggle-nav {
    display: none;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .title {
      font-size: 38px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: bold;
      opacity: 0.2;
      transition: opacity 0.2s ease;

      @include media('tablet-down') {
        font-size: 38px;
      }
      @include media('mobile-medium-down') {
        font-size: 34px;
      }

      &:hover {
        opacity: 1;
      }

      &.scrolled {
        font-size: 30px;
      }

      a {
        color: $dark-grey;
        text-decoration: none;
      }
    }

    .navigation {
      @include media('tablet-down') {
        display: none;
      }
    }

    #toggle-nav {
      align-self: center;
      position: relative;
      height: 20px;
      width: 35px;
      cursor: pointer;
      display: none;

      @include media('tablet-down') {
        display: block;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $dark-grey;
      }
      #mid {
        position: absolute;
        top: 9px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $dark-grey;
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 80%;
        height: 2px;
        background-color: $dark-grey;
      }
    }
  }
}
