.navigation {
  ul {
    display: flex;
    flex-direction: row;

    li {
      font-family: 'Open Sans', sans-serif;
      margin-right: 40px;
      font-size: 18px;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: $grey2;
        text-decoration: none;
      }
    }
  }
}
