.navigation {
  .links-container {
    ul {
      display: flex;

      li {
        margin-left: 30px;
        a {
          position: relative;
          font-size: 0.8em;
          text-decoration: none;
          color: $text-color;
          &:hover {
            color: $primary;
          }

          &.index-link {
            display: none;
          }
          &.active {
            color: $primary;
          //   &:after {
          //     position: absolute;
          //     bottom: -2px;
          //     left: 0;
          //     content: '';
          //     background-color: $primary;
          //     width: 100%;
          //     height: 2px;
          //   }
          }
        }
      }
    }
  }
  .toggle-nav {
    // If clicked, show a cross (x) for example
    &.open {

    }
    // Hamburger styling?
    &:before {

    }
    .mid {

    }
    &:after {

    }
  }
}
