$mobile-xs-breakpoint: '320px';
$mobile-small-breakpoint: '500px';
$mobile-medium-breakpoint: '680px';
$mobile-breakpoint: '768px';
$tablet-breakpoint: '1080px';
$dekstop-breakpoint: '1400px';

/*
Example usage:
@include media('mobile-small-down') {
  display: none;
}
*/
@mixin media($media) {
  @if $media == 'mobile-xs-down' {
    @media only screen and (max-width: $mobile-xs-breakpoint) { @content; }
  }
  @if $media == 'mobile-small-down' {
    @media only screen and (max-width: $mobile-small-breakpoint) { @content; }
  }
  @if $media == 'mobile-small-up' {
    @media only screen and (min-width: $mobile-small-breakpoint) { @content; }
  }
  @if $media == 'mobile-medium-down' {
    @media only screen and (max-width: $mobile-medium-breakpoint) { @content; }
  }
  @if $media == 'mobile-down' {
    @media only screen and (max-width: $mobile-breakpoint) { @content; }
  }
  @else if $media == 'tablet-down' {
    @media only screen and (max-width: $tablet-breakpoint) { @content; }
  }
  @else if $media == 'tablet-up' {
    @media only screen and (min-width: $tablet-breakpoint) { @content; }
  }
  @else if $media == 'desktop-down' {
    @media only screen and (max-width: $dekstop-breakpoint) { @content; }
  }
  @else if $media == 'desktop-up' {
    @media only screen and (min-width: $dekstop-breakpoint) { @content; }
  }
  @media only screen and (max-width: $media) { @content; }
}

@mixin center-align($pos: absolute) {
  position: $pos;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin vertical-align($pos: absolute) {
  position: $pos;
  top: 50%;
  transform: translateY(-50%);
}

@mixin heading {
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.4em;
  letter-spacing: 2px;
  margin-bottom: 1em;
}
