// Colors
$primary: #94A0C0;
$secondary: #EEEE8D;

$white: #FFFFFF;
$off-white: #F4F4F2;
$light-grey: #D4D4D4;
$grey1: #767676;
$grey2: #525252;
$dark-grey: #353535;
$black: #000000;


$max-width: 1000px;
