// Colors
$primary: #5460C5;
$text-color: #3D3D3D;

$white: #FFFFFF;
$off-white: #F4F4F2;
$light-grey: #D4D4D4;
$grey1: #929292;
$grey2: #767676;
$grey3: #525252;
$dark-grey: #353535;
$black: #000000;


$max-width: 1200px;
