.experience-page {
  .content {
    .page-intro {
      padding-bottom: 180px;

      @include media('tablet-down') {
        padding-bottom: 90px;
      }

      @include media('mobile-small-down') {
        padding-bottom: 80px;
      }

      .wrapper {
        display: flex;
        flex-direction: row;

        @include media('mobile-down') {
          flex-direction: column;
        }

        .page-intro-left-col {
          flex: 2;
        }
        .page-intro-right-col {
          flex: 1;
          display: flex;
          justify-content: flex-end;
          align-self: flex-start;
          margin-left: 40px;

          @include media('mobile-down') {
            margin-left: 0;
            margin-top: 20px;
          }

          .resume-link {
            position: relative;
            display: inline-block;
            box-sizing: border-box;
            transition: all 0.4s;
            cursor: pointer;
            overflow: hidden;

            @include media('mobile-down') {
              margin-top: 20px;
            }

            &:hover {
              a {
                color: lighten($grey1, 10%);
                &:after {
                  background-color: lighten($grey1, 10%);
                }
              }
            }

            a {
              font-family: 'Open Sans', sans-serif;
              position: relative;
              letter-spacing: 1px;
              text-decoration: none;
              display: block;
              color: $grey2;
              padding: 5px 0;

              .icon {
                padding-left: 5px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    .timeline {
      padding-bottom: 100px;
      background-color: $grey1;
      z-index: -1;
      min-height: calc(100vh - 660px);

      .experiences {
        .experience {
          padding: 80px 0;
          position: relative;
          margin-left: 100px;
          padding-left: 100px;
          box-sizing: border-box;
          color: $white;

          @include media('tablet-down') {
            margin-left: 40px;
            padding-left: 60px;
          }
          @include media('mobile-small-down') {
            margin-left: 0;
            padding-left: 0;
          }

          /*
           *  The ordering of the selectors below is important.
           *  Lowest selector overwrites previous selectors.
           *  When there is only 1 item, :only-child selector is used.
           */
          &:last-child {
            &:before {
              background: linear-gradient(darken($grey1, 8%), $grey1);
            }
          }
          &:first-child, &:only-child {
            padding-top: 150px;

            @include media('mobile-small-down') {
              padding-top: 100px;
            }

            &:after {
              top: 158px;
            }
          }
          &:first-child {
            &:before {
              background: linear-gradient($white, darken($grey1, 8%) 70%);
            }
          }
          &:only-child {
            &:before {
              background: linear-gradient($white, $grey1);
            }
          }


          // Timeline line
          @include media('mobile-small-up') {
            &:before {
              position: absolute;
              left: 0;
              top: 0;
              content: '';
              height: 100%;
              width: 2px;
              background: darken($grey1, 8%);
            }

            // Timeline point
            &:after {
              content: '';
              position: absolute;
              left: -9px;
              top: 88px;
              width: 14px;
              height: 14px;
              border-radius: 50%;
              border: 3px solid $white;
              background-color: $grey1;
            }
          }


          .role {
            display: inline-block;
            position: relative;
            font-size: 28px;
            font-weight: 400;
            line-height: 1.1em;
            letter-spacing: 2px;
            margin-bottom: 8px;
            z-index: 2;
          }

          .company {
            font-size: 20px;
            margin-bottom: 20px;
          }

          .details {
            display: flex;
            flex-direction: row;

            @include media('mobile-medium-down') {
              flex-direction: column;
              .skills {
                padding-left: 0 !important;
                padding-top: 20px;
              }
            }

            .text {
              flex: 3;
            }
            .skills {
              flex: 1;
              padding-left: 80px;

              @include media('tablet-down') {
                padding-left: 40px;
              }

              .skill {
                line-height: 28px;
                margin-bottom: 4px;
                list-style-type: disc;
                list-style-position: inside;
              }
            }
          }
        }
      }
    }
  }
}
