.experience-page {
  .content {
    .page-intro {
      display: flex;
      flex-direction: row;

      @include media('mobile-down') {
        flex-direction: column;
      }

      .page-intro-left-col {
        flex: 2;
      }
      .page-intro-right-col {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-self: flex-start;
        margin-left: 40px;

        @include media('mobile-down') {
          margin-left: 0;
          margin-top: 20px;
        }

        .button {
          position: relative;
          display: inline-block;
          box-sizing: border-box;
          transition: all 0.4s;
          cursor: pointer;
          overflow: hidden;
          // border-top-right-radius: 10px;
          // border-bottom-right-radius: 10px;

          &:hover {
            a {
              background-color: darken($grey1, 10%);
              // color: $white;
            }
          }

          a {
            font-family: 'Open Sans', sans-serif;
            position: relative;
            letter-spacing: 1px;
            display: block;
            background-color: $grey1;
            color: $white;
            // font-size: 14px;
            text-decoration: none;
            transition: all 0.4s ease;
            padding: 15px 25px;
          }
        }
      }
    }

    .timeline {
      margin-top: 20px;

      .experiences {
        .experience {
          padding: 50px 0;
          position: relative;
          margin-left: 100px;
          padding-left: 100px;
          box-sizing: border-box;

          &:first-child {
            padding-top: 100px;
            &:before {
              background: linear-gradient($white, $grey2);
            }
            &:after {
              top: 106px;
              border-color: lighten($grey2, 20%);
            }
          }

          // &:last-child {
          //   &:before {
          //     background: linear-gradient($grey2, $white);
          //   }
          //   &:after {
          //     border-color: lighten($grey2, 10%);
          //   }
          // }

          // Timeline line
          &:before {
            position: absolute;
            left: 0;
            top: 0;
            content: '';
            height: 100%;
            width: 2px;
            background: $grey2;
          }

          // Timeline point
          &:after {
            content: '';
            position: absolute;
            left: -9px;
            top: 56px;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 3px solid $grey2;
            background-color: $white;
          }

          .role {
            display: inline-block;
            position: relative;
            font-size: 28px;
            font-weight: 400;
            line-height: 1.1em;
            // letter-spacing: 1px;
            margin-bottom: 8px;
            // text-decoration: underline;
          }

          .company {
            font-size: 20px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
