.home {

  .mobile-header {
    display: none;
    margin-bottom: 90px;
    text-align: center;

    @include media('mobile-down') {
      display: block;
    }

    .name {
      @include heading();
      margin-bottom: 0.2em;
      font-size: 2em;
    }
    .title {
      @include heading();
      text-transform: capitalize;
      font-size: 1em;
      font-weight: 400;
      line-height: 1.3em;
      margin-bottom: 0;
      color: $secondary;
      span {
        text-decoration: line-through;
      }
    }
    ul.socials {
      margin-top: 20px;

      li {
        display: inline-block;
        margin: 0 20px;

        a {
          font-size: 1.3em;
          color: $grey2;
        }
      }
    }
  }
  .about {
    .text {
      abbr {
        text-decoration: none;
        position: relative;
        display: inline-block;
        background-color: $dark-grey;
        padding: 0 5px;
        font-size: 0.95em;
        color: $grey1;
        margin-right: 5px;
        margin-bottom: 2px;

        &:after {
          content: ',';
        }

        &:last-child {
          margin-right: 0px;
          &:after {
            content: '';
          }
        }
      }
      .link {
        font-style: italic;
        letter-spacing: 0.45px;
      }
    }
  }
}
