.projects-page {
  .content {
    position: relative;
    margin-top: 50px;

    .projects {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .project {
        width: calc(100%/3);
        border: 2px solid $white;
        box-sizing: border-box;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;

        @include media('tablet-down') {
          width: 50%;
        }
        @include media('mobile-medium-down') {
          width: 100%;
        }

        &:nth-child(odd) {
          .image {
            background-size: cover;
            background-position: center;
          }
        }

        &.no-hover {
          opacity: 0.5;
        }
        &.hovered {
          opacity: 1;
        }

        &:hover {
          cursor: pointer;
        }

        .image {
          width: 100%;
          padding-bottom: 70%;
          margin-bottom: 20px;
        }

        .project-content {
          padding: 20px;

          h2 {
            font-size: 20px;
          }
          p {
            margin-top: 20px;
            margin-bottom: 20px;
          }
        }

        a {
          position: relative;
          color: $text-color;
          text-decoration: none;
          font-size: 14px;
          font-style: italic;
          font-family: 'Open Sans', sans-serif;
          letter-spacing: 1px;
          display: inline-block;
          margin-right: 30px;
          padding-bottom: 3px;
          box-sizing: border-box;

          &:hover {
            &:after {
              width: 100%;
            }
          }

          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $primary;
            transition: width 0.8s ease;
          }
        }
      }
    }

    // .showcase {
    //   flex: 2;
    //   display: block;
    //   padding-bottom: 50%;
    //   align-self: flex-start;
    //   position: relative;
    //   background-color: #eee;
    //   margin-bottom: 70px;
    // }
  }
}
