.projects-page {
  .content {
    position: relative;
    margin-top: 50px;

    .projects {
      // display: flex;
      // flex-direction: column;

      .project {
        margin-bottom: 70px;
        position: relative;
        max-width: 400px;
        padding: 40px 40px 40px 0;
        clear: both;
        float: left;

        @include media('mobile-down') {
          margin-bottom: 0;
        }

        &.no-hover {
          opacity: 0.5;
        }
        &.hovered {
          opacity: 1;
        }

        &:hover {
          cursor: pointer;
          &:after {
            @include media('mobile-down') {
              display: none;
            }
            content: '';
            width: 300px;
            height: 200px;
            position: absolute;
            @include vertical-align();
            right: -300px;
            background-color: #eee;
            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
          }
        }

        .project-content {
          h2 {
            font-size: 20px;
          }
          p {
            margin-top: 20px;
            margin-bottom: 20px;
          }
        }

        a {
          position: relative;
          color: $text-color;
          text-decoration: none;
          font-size: 14px;
          font-style: italic;
          font-family: 'Open Sans', sans-serif;
          letter-spacing: 1px;
          display: inline-block;
          margin-right: 30px;
          padding-bottom: 3px;
          box-sizing: border-box;

          &:hover {
            &:after {
              width: 100%;
            }
          }

          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $primary;
            transition: width 0.8s ease;
          }
        }
      }
    }

    // .showcase {
    //   flex: 2;
    //   display: block;
    //   padding-bottom: 50%;
    //   align-self: flex-start;
    //   position: relative;
    //   background-color: #eee;
    //   margin-bottom: 70px;
    // }
  }
}
