@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,600,700');
@import './fontawesome-all.min';
@import './reset';
@import './mixins';

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  @include media('mobile-small-down') {
    font-size: 14px;
  }
  background: #214954;
  color: white;
}

a {
  color: white;
  text-decoration: none;
  position: relative;
}

.underline {
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #6DB4E8;
    transition: width 0.4s ease-in-out;
  }

  &:hover {
    &:after {
      width: 100%;
    }
  }
}

p {
  padding-top: 8px;
  padding-bottom: 8px;
}

h1,h2,h3,h4 {
  padding-top: 10px;
  padding-bottom: 16px;
  @include media('mobile-small-down') {
    padding-top: 5px;
    padding-bottom: 10px;
  }
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.25em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.125em;
}

// PARTICLES
#particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  div {
    width: 100%;
    height: 100%;
  }
}


// HEADER
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  // background-color: red;

  // ERIC CHUNG
  .title {
    padding: 30px;
    margin-left: 40px;
    display: table;

    @include media('mobile-small-down') {
      display: block;
      margin-left: 10px;
      padding: 20px 10px;
      // text-align: center;
    }

    h1 {
      font-size: 44px;
      @include media('tablet-down') {
        font-size: 33px;
      }
      padding-bottom: 0;

      a {
        text-transform: uppercase;
        text-decoration: none;
        color: #bbb;
        opacity: 0.7;
        line-height: 1em;
        font-weight: 700;
        letter-spacing: 10px;

        // ** Testing scroll animation **
        &:hover {
          .first-name {
            span {
              // opacity: 0;
              // max-width: 0;
            }
          }
          .last-name {
            // opacity: 0;
            transform: rotate(-3deg);
          }
        }

        .first-name {
          padding-left: 1px;
          // display: inline-block;
          // @include media('mobile-down') {
          //   display: inline-block;
          // }
          // -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
          // -webkit-text-stroke-width: 1.5px;
          // -webkit-text-stroke-color: black;

          span {
            display: inline-block;
            opacity: 1;
            max-width: 9999px;
            transition: max-width 0.6s, opacity 0.6s;
          }
        }

        .last-name {
          display: inline-block;
          opacity: 1;
          // transform-origin: 20% 40%;
          transition: transform 0.2s, opacity 0.6s;
          position: relative;

          &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -4px;
            height: 0.7em;
            width: 110%;
            opacity: 0.4;
            background: #12262C;
            z-index: -1;
          }
        }
      }
    }
  }

}

// NAVIGATION
.navigation {
  position: fixed;
  left: 0;
  bottom: 30px;
  padding: 30px;
  margin-left: 40px;
  @include media('mobile-small-down') {
    margin-left: 10px;
    padding: 10px;
  }

  ul {
    li {
      line-height: 2.4em;
      font-size: 20px;

      &:active {
        opacity: 1;
      }

      a {
        opacity: 0.4;
        &:hover {
          opacity: 1;
        }
      }

      // SOCIAL ICONS
      &.socials {
        position: relative;
        ul {
          li {
            display: inline-block;
            font-size: 22px;
            margin-right: 20px;
            opacity: 0.4;
            transition: opacity 1s;
            cursor: pointer;

            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}

// MAIN CONTENT AREA
#main {
  padding-top: 170px;
  padding: 170px 70px 0;
  @include media('tablet-down') {
    padding-top: 130px;
  }
  @include media('mobile-down') {
  }
  @include media('mobile-small-down') {
    padding-top: 130px;
  }
  min-height: calc(100vh - 170px);

  .content {
    max-width: 60%;
    text-align: left;
    background-color: rgba(255,255,255,0.05);
    @include media('mobile-down') {
      max-width: 100%;
    }
    padding: 40px 70px;
    @include media('mobile-small-down') {
      padding: 0 20px;
    }
    margin: 0 auto;
  }
}





.home {
  .about {
    p {
      .jazz {
        font-weight: bold;
        // font-size: 22px;
        // @include media('mobile-small-down') {
        //   font-size: 18px;
        // }
        display: inline-block;
        position: relative;
        // &:after {
        //   content: '';
        //   position: absolute;
        //   left: 0;
        //   bottom: -4px;
        //   height: 0.7em;
        //   width: 110%;
        //   background: #A4CBE7;
        //   z-index: -1;
        // }
      }
    }
  }
  .skills {
    margin-top: 80px;
    @include media('mobile-small-down') {
      margin-top: 30px;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      li {
        margin-bottom: 40px;
        width: auto;
        padding: 0 30px;

        img {
          height: 80px;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}



//
// ::selection {
//   background: #ED6F3F; /* WebKit/Blink Browsers */
//   color: #ffffff;
// }
// ::-moz-selection {
//   background: #ED6F3F; /* Gecko Browsers */
//   color: #ffffff;
// }
