// Put all global styles here

@import './imports.scss';

body {
  background-color: $primary;
  font-family: 'PT Serif', serif;
  font-size: 18px;
  line-height: 1.65;
  color: $white;
  @include media('mobile-down') {
    font-size: 16px;
  }
}

.noscroll {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, .page-title {
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.4em;
  letter-spacing: 2px;
  margin-bottom: 1em;
}

.page-title {
  font-size: 1.4em;
  margin-bottom: 1.5em;
  // text-decoration: underline;
}

.wrapper {
  width: 80%;
  max-width: 1400px;
  margin: auto;
  padding: 0 20px;

  @include media('mobile-down') {
    width: 90%;
  }
}

#content {
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 1400px;
  margin: auto;
  padding: 40px 0;

  #toggle-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    transition: 0.4s ease;
    z-index: 5;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      display: block;
      margin: 0 8px;
      height: 2px;
      width: 34px;
      top: 14px;
      background-color: $secondary;
    }

    #mid {
      position: absolute;
      display: block;
      margin: 0 8px;
      height: 2px;
      width: 34px;
      top: 23px;
      background-color: $secondary;
    }

    &:after {
      content: '';
      position: absolute;
      display: block;
      margin: 0 8px;
      height: 2px;
      width: 34px;
      top: 32px;
      background-color: $secondary;
    }

    &.open {
      left: 200px;
    }
  }

  &:before {
    content: '';
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: opacity 0.4s ease;
  }

  @include media('tablet-down') {
    position: relative;
    left: 0;
    display: block;
    transition: 0.4s ease;

    #toggle-nav {
      display: block;
    }

    &.nav-open {
      left: 200px;

      &:before {
        visibility: visible;
        opacity: 1;
      }
      #sidebar {
        left: 0;
      }
    }
  }

  @include media('mobile-down') {
    width: 90%;
  }
}

#sidebar {
  flex: 4;
  width: 200px;
  padding-top: 30px;

  @include media('tablet-down') {
    position: fixed;
    top: 0;
    left: -200px;
    height: 100vh;
    background-color: $primary;
    z-index: 2;
    transition: 0.4s ease;
  }
}

#main {
  flex: 8;
  padding-left: 4%;
  padding-right: 15%;
  padding-top: 60px;

  @include media('tablet-down') {
    padding-right: 4%;
  }
}

a {
  color: $secondary;
  text-decoration: none;
  transition: color 0.4s;
}

p {
  margin: 0 0 1.2em 0;
  line-height: 1.85;
}

// ::selection {
//   background: $primary; /* WebKit/Blink Browsers */
//   color: #ffffff;
// }
// ::-moz-selection {
//   background: $primary; /* Gecko Browsers */
//   color: #ffffff;
// }
