// Put all global styles here

@import './imports.scss';

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 26px;
  line-height: 1.65;
  color: $text-color;
  @include media('desktop-down') {
    font-size: 26px;
  }
  @include media('tablet-down') {
    font-size: 24px;
  }
  @include media('mobile-down') {
    font-size: 22px;
  }
  @include media('mobile-medium-down') {
    font-size: 20px;
  }
  @include media('mobile-small-down') {
    font-size: 18px;
  }
  @include media('mobile-xs-down') {
    font-size: 16px;
  }
}

.noscroll {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 1.667em;
}

.wrapper {
  width: 84%;
  max-width: 40em;
  margin: auto;
  padding: 0 20px;
}

#main {
  padding-top: 2em;
  padding-bottom: 120px;
}

a {
  color: $primary;
  text-decoration: none;
  transition: color 0.4s;
  &:hover {
    color: darken($primary, 20%);
  }
}

p {
  margin: 0 0 2em 0;
}

// ::selection {
//   background: $primary; /* WebKit/Blink Browsers */
//   color: #ffffff;
// }
// ::-moz-selection {
//   background: $primary; /* Gecko Browsers */
//   color: #ffffff;
// }
