
$mobile-small-breakpoint: '500px';
$mobile-breakpoint: '800px';
$tablet-breakpoint: '1080px';


@mixin media($media) {
  @if $media == 'mobile-small-down' {
    @media only screen and (max-width: $mobile-small-breakpoint) { @content; }
  }
  @if $media == 'mobile-down' {
    @media only screen and (max-width: $mobile-breakpoint) { @content; }
  }
  @else if $media == 'tablet-down' {
    @media only screen and (max-width: $tablet-breakpoint) { @content; }
  }
}
